<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon CV</title>
    <meta name="description" content="le premier cv de Mr BESNARD Sylvain">
    <link rel="stylesheet" href="./asset/css/style.css">
    <link rel="image-profile" href="./image/profil.png " type="image-profile">
    
</head>
<body>
<header>
    <span class="image-styled">
        <a href="./image/image-profile.png" target="_blank">
        <img src="./image/image-profile.png" alt="ProfilePicture" class="image-styled">
    </a> 
    </span>
        <div>
            <em>SYLVAIN BESNARD</em>
            <h1>Developpeur web junior </h1>
        </div>
   
       <address>
            <a href="https://www.google.fr/maps/place/Pl.+de+l'%C3%89glise,+72300+Louailles/@47.7931329,-0.2556685,17z/data=!3m1!4b1!4m6!3m5!1s0x48083e70a9fa2c27:0xd71ee7480194a53b!8m2!3d47.7931329!4d-0.2530936!16s%2Fg%2F1tm0b5tl?entry=ttu"; target="_blank"> place de l'église,<br> 72300 louailles</a>
            <a href="mailto:besnard.sylvain@gmx.fr">besnard.sylvain@gmx.fr
            <a href="tel:0606060606"> 06.06.06.06.06</a>
        </address>
    
</header>
<main class="container">
    <div class="column left-column">
        <h2>A propos</h2>
        <p>Fort de diverses expériences Professionnelles dans des corps de métiers différents, je met mon savoir-faire et sens de l'organisation ainsi que mon relationnel en avant pour performer dans les domaines qui me tiennes a coeurs</p>
        <h2>Langues parlées</h2>
        <ul>
            <li><strong>français:</strong> Langue maternelle</li>
            <li><strong>Anglais:</strong>Scolaire</li>
    </ul>
        <H2>Centres d'interêt</H2>
        <ul>
            <li> Football</li>
            <li>jeux vidéo</li>
            <li>la pêche</li>
        </ul>
    </div>
    <div class="column right-column">
        
        <h2>Expériences Professionnelles</h2>
            <h3>Responsable d'atelier chez BURBAN PALETTES</h3>
                <section class="experience">
                    <p>Du 1/03/2018 au 21/03/2022</p>
                    <ul>
                        <li>Gestion des ordres de réparations</li>
                        <li>Contrôle qualité des palettes réparées</li>
                        <li>Gestion du stock pour livraisons</li>
                    </ul>
                </section>
    
            <h3>Magasinier cariste chez Buisard industrie</h3>
                <section class="experience">
                    <p>Du 5/04/2022 au 2/11/2022</p>
                    <ul>
                        <li>Gestion des entrées et sorties de stocks</li>
                        <li>mise a jours d'inventaire de stocks</li>
                        <li>approvisionnement des lignes de productions</li>
                    </ul>
                </section>
    
            <h3>Chauffeur livreur chez OCP répartition</h3>
                <section class="experience">
                    <p>Du 2/11/2022 jusqu'a aujourd'hui</p>
                    <ul>
                        <li>tri des colis a livrer suivant un ordre de tournée donné</li>
                        <li>chargement et déchargement du camion</li>
                        <li>livraisons des colis au clients suivant une feuille de route</li>
                        <li>controle et reception des retours clients</li>
                    </ul>
                </section>
            <h2>Compétences</h2>
                <section class="experience">
                    <ul>
                        <li>Sens de l’organisation</li>
                        <li>Capacité à travailler en équipe</li>
                        <li>Bon relationnel</li>
                    </ul>
                </section>
    
            <H2>Diplômes/Formations</H2>
                <section class="experience">
            <h3>BEP MSMA</h3>
                <p>Du 6/09/2006 au 10/06/2008</p>
                <p>diplôme obtenu de niveau 5</p>
                </section>
                <section class="experience">
            <H3> Titre d'agent de suretée et de sécurité privée</H3>
                <p>du 12/05/2011 au 30/09/2011</p>
                <p>titre obtenu de niveau 4</p>
                </section>
    </div>
</main>
<footer class="footer">
    <div>
        <img src="./image/linkedin.png" alt="linkedin" class="social-icon" href="#" target="_blank">
        <img src="./image/github.png" alt="github" class="social-icon">
    </div>
    <p>Dernier mise a jour le 24 Mai 2024</p>
   
</footer>
</body>
</html>