

/* Style de base */
* {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #f5efef;
    line-height: 1.6;
   
}

/* Conteneur principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* En-tête */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    text-align: center;
    
}

header h1 {
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Section présentation */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.intro img {
    width: 300px;
    border-radius: 50%;
    margin-right: 40px;
}

.intro-text {
    max-width: 600px;
}

.intro-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Galerie de projets */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

.project-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.333% - 20px);
    padding: 20px;
    text-align: center;
}

.project-item img {
    max-width: 100%;
    border-radius: 8px;
}

.project-item h3 {
    margin: 15px 0;
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}

footer p {
    margin: 0;
}
